Scenario 1:
[ERROR_STACK] :{{ tests_trigger_cause1 }}
[SOURCE_CODE]:{{ focals_code1 }}
[TEST_CASE] :{{ test_trigger_code1 }}
Scenario 2:
[ERROR_STACK] :{{ tests_trigger_cause2 }}
[SOURCE_CODE]:{{ focals_code2 }}
[TEST_CASE] :{{ test_trigger_code2 }}